{
    
}

#Logo-booleaner{
    height: 40px;
    background-color:#4ea0ff;
    background-image:url(./img/pattern.png)
   
}

#sottotitolo{
    color:#808080 ;
}
#scritta_blu{
    color: #31afe6 ;
}

#data{
    font-size: x-small;
}